drop/
tabular_data/
Test_l/
Test_s/
Test_set/
Test_set_prepared/
Train_l/
Train_s/
Train_set/
Train_set_prepared/
Train_set_prepared_ml/
Test_set_origin/
Test_set_prepared_origin_ml/
Train_set_origit/
Train_set_prepared_origin_ml/
test_dump/
dataframes/
lab3_train_600/
lab3_train_600_folders/
lab2.zip
CVPR2_2.zip
lab3_test_160/
lab3_train_600_simple_nn_prepared/
lab3_train_600_prepared/
test_160_prepared/
test_160/
